[submodule "wahwee-system"]
	path = wahwee-system
	url = git@github.com:vikingfacer/wahwee-system.git

[submodule "wahwee-control"]
	path = wahwee-control
	url = git@github.com:vikingfacer/wahwee-control.git
